.infoboxtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.infoboxvalue {
    font-weight: bold;
}

p, div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.infobox {
    font-family: Verdana;
    font-weight: lighter;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: 0.1em solid rgb(0, 108, 112);
    border-radius: 15px;
    padding: 10px;
    margin: auto;
}

@media screen and (min-width: 650px){
    .infobox {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 650px){
    .infobox {
        font-size: 1.2em;
    }
}

@media screen and (max-height: 600px) and (max-width: 1000px) {
    .infobox {
        font-size: 1.4em;
    }
}


