<div *ngIf="medalsPerCountry$ | async as medals" #containerRef class="chart-pie-container">
    <ngx-charts-pie-chart
        class="pie-chart"
        [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
        [results]="medals"
        [scheme]="scheme"
        [labels]="labels"
        [trimLabels]="trimLabels">
        <ng-template #tooltipTemplate let-model="model">
            <div class="custom-tooltip">
              <p class="tooltip-values">{{model.name}}</p>
              <p class="tooltip-values">🏅{{model.value}}</p>
            </div>
        </ng-template>
    </ngx-charts-pie-chart>
</div>
