::ng-deep ngx-charts-pie-chart .pie-label {
    font-family: Verdana;
    font-weight: lighter;
    padding: 10px; // TODO: ne fonctionne pas
}

::ng-deep ngx-charts-pie-chart .pie-label-line {
    stroke-width: 0.2em;
}

@media screen and (min-width: 650px) {
    ::ng-deep ngx-charts-pie-chart .pie-label {
        font-size: 1.7em;
    }
    .custom-tooltip {
        font-size: 2em;
    }
}

@media screen and (max-width: 650px) {
    ::ng-deep ngx-charts-chart .pie-label {
        font-size: 0.7em;
    }
    .custom-tooltip {
        font-size: 1.4em;
    }
}

@media screen and (max-height: 600px) and (min-width: 1000px) {
    ::ng-deep ngx-charts-chart .pie-label {
        font-size: 1.2em;
    }
    .custom-tooltip {
        font-size: 1.5em;
    }
}