::ng-deep ngx-charts-pie-chart .pie-label-line {
    stroke-width: 0.2rem;
}

@media screen and (min-width: 650px) {
    ::ng-deep ngx-charts-pie-chart .pie-label {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 650px) {
    ::ng-deep ngx-charts-chart .pie-label {
        font-size: 0.7rem;
    }
}

@media screen and (max-height: 600px) and (min-width: 1000px) {
    ::ng-deep ngx-charts-chart .pie-label {
        font-size: 1.2rem;
    }
}