<h2 class="title">Medals per Country</h2>
<ng-template *ngIf="error">
    {{errorMessage}}
</ng-template>
<body *ngIf="olympics$ | async as olympics">
    <div class="parent">
        <app-info-box
            class="grid-item-1" 
            [name]="'nbJos'"
            [data$]=olympics$
            >
        </app-info-box>
        <app-info-box
            class="grid-item-2"
            [name]="'nbCountries'"
            [data$]=olympics$
            >
        </app-info-box> 
    </div>
    <app-pie-chart
    class="chart-pie-container"
    [data$]=olympics$
    [scheme]="scheme"
    [labels]="labels"
    [trimLabels]="trimLabels"
    >
    </app-pie-chart>
</body>


