<h2>{{countryName}}</h2>
<body>
    <div>
        <app-info-box
        [name]="'nbEntries'"
        [data$]=olympics$
        [countryName]="countryName"
        >
        </app-info-box>
        <app-info-box
        [name]="'nbMedals'"
        [data$]=olympics$
        [countryName]="countryName"
        >
        </app-info-box>
        <app-info-box
        [name]="'nbAthletes'"
        [data$]=olympics$
        [countryName]="countryName"
        >
        </app-info-box>
    </div>
    <app-line-chart
    >
    </app-line-chart>
</body>
<a routerLink="">back</a>
