<h2 class="title">{{countryName}}</h2>
<body>
    <div>
        <app-info-box
        [name]="'nbEntries'"
        [data$]=countryData$
        >
        </app-info-box>
        <app-info-box
        [name]="'nbMedals'"
        [data$]=countryData$
        >
        </app-info-box>
        <app-info-box
        [name]="'nbAthletes'"
        [data$]=countryData$
        >
        </app-info-box>
    </div>
    <app-line-chart
        [data$]="countryData$"
        [scheme]="scheme"
        [animations]="animations"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [autoScale]="autoScale"
    >
    </app-line-chart>
</body>
<a routerLink="">back</a>
