.title {
    border-radius: 10px;
    background-color:rgb(0, 108, 112);
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 10px;
    text-align: center;
    justify-self: center;
    margin: auto;
    margin-top: 5px;
    font-family: Verdana;
    font-weight: lighter;
}

.back-button {
    background-color: rgb(0, 108, 112);
    border: none;
    color: white;
    font-family: Verdana;
    font-weight: lighter;
    padding: 5px;
    border-radius: 10px;
}

.center {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.status {
    font-weight: bold;
    font-style: italic;
}

html, body {
    margin: auto;
    font-family: Verdana;
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    background-color: rgb(0, 108, 112);
    .tooltip-caret.position-top {
        border-top-color: rgb(0, 108, 112);
    }
    .tooltip-caret.position-left {
        border-left-color: rgb(0, 108, 112);
    }
    .tooltip-caret.position-right{
        border-right-color: rgb(0, 108, 112);
    }
}

.ngx-charts {
    text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
    }
}

.custom-tooltip {
    font-family: Verdana;
    font-weight: lighter;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tooltip-values {
    margin: 0px;
}

@media screen and (min-width: 650px){
    .pie-chart-container {
        position: absolute;
        top: 180px;
        left: 50px;
        right: 50px;
        bottom: 50px;
    }
    .line-chart-container {
        position: absolute;
        top: 260px;
        left: 120px;
        right: 120px;
        bottom: 20px;
    }
    .title {
        font-size: 2.5rem;
    }
    .back-button {
        font-size: 1.7rem;
    }
    .status {
        font-size: 2rem;
    }
    html, body {
        height: 90%;
    }
    .custom-tooltip {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 650px){
    .pie-chart-container {
        height: 90%;
        position: absolute;
        top: 80px;
        left: 30px;
        right: 30px;
        bottom: 50px;
    }
    .line-chart-container {
        position: absolute;
        top: 320px;
        left: 30px;
        right: 30px;
        bottom: 20px;
    }
    .title {
        font-size: 1.5rem;
    }
    .back-button {
        font-size: 1rem;
    }
    .status {
        font-size: 1.5rem;
    }
    html, body {
        height: 50%;
    }
    .custom-tooltip {
        font-size: 1.4rem;
    }
}

@media screen and (max-height: 700px) and (min-width: 650px) {
    .pie-chart-container {
        height: 80%;
        position: absolute;
        top: 120px;
        left: 50px;
        right: 50px;
        bottom: 50px;
    }
    .line-chart-container {
        position: absolute;
        top: 170px;
        left: 80px;
        right: 80px;
        bottom: 5px;
    }
    .title {
        font-size: 1.5rem;
    }
    .back-button {
        font-size: 1rem;
    }
    .status {
        font-size: 2rem;
    }
    html, body {
        height: 85%;
    }
    .custom-tooltip {
        font-size: 1.5rem;
    }
}